{% load static %}


<div class="row">
    <div class="active-recent-blog-carusel">
        <div class="single-recent-blog-post item">
            
            <div class="thumb">
                <img class="img-fluid" src="{{post.image.url}}" alt="">
            </div>
            
            <div class="details">
                <div class="tags">
                    <ul>
                        <li>
                            <a href="#">Travel</a>
                        </li>
                        <li>
                            <a href="#">Life Style</a>
                        </li>
                    </ul>
                </div>
                <a href="#">
                    <h4 class="title">{{post.Title}}</h4>
                </a>
                <p>
                    Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A
                    farmer.
                </p>
                <h6 class="date">31st January,2018</h6>
            </div>
            
        
        </div>>
        
        
        
        

    </div>
</div>